In [109]:
import pandas as pd
import string
import re

In [110]:
sentences_path = "../../data/portuguese_sentences.parquet"

In [111]:
df = pd.read_parquet(sentences_path)

In [112]:
df

                                              sentences
0     Colossal é um filme de comédia, ação-thriller ...
1     Lol postei vídeos na minha conta a pensar que ...
2     mano A eu acho muito linda essa cena de scarle...
3     Só ele é Deus Com quem vocês compararão Deus? ...
4     Paulo Roberto Figueira Leal (Valença, 7 de mai...
...                                                 ...
1995  Na história da ciência, a teoria do calor ou "...
1996  Joshua Thomas Kinney, mais conhecido como Josh...
1997  As Seicheles ("Seychelles") são um país da Áfr...
1998  Há 19 anos, o SUS (Sistema Único de Saúde) fez...
1999  @vaaaifelipe Se preferir nos procure através d...

[2000 rows x 1 columns]

In [113]:
def split_sentences(sent: str) -> list[str]:
    """
    Splits a "sentence" into sentences.
    """
    pattern = r'[^.!?]+[.!?](?:\s+|$)'
    sentences = re.findall(pattern, sent, flags=re.DOTALL)

    return sentences

In [114]:
sentences = []

for sent in df['sentences']:
    sentences.extend(split_sentences(sent))

In [120]:
def remove_last_word(sent: str) -> tuple[str, str]:
    """
    Removes trailing punctuation and removes last word.

    Returns: 
        (sentence without last word, last word)
    """
    # remove trailing punctuation
    match = re.search(r'[^\w](?=[^\w]*$)', sent)

    if match is not None:
        ix = match.start()
        sent = sent[:ix]
    
    # remove last word
    words = re.findall(r'\w+', sent)

    if not words:
        return None

    last_word = words[-1]
    indices_stay = len(sent)-len(last_word)

    sent = sent[:indices_stay]

    return (sent, last_word)

In [121]:
df = {'sentence': [], 'last_word': []}

for sent in sentences:
    return_val = remove_last_word(sent)

    if return_val is None:
        continue 

    phrase, word = return_val

    df['sentence'].append(phrase)
    df['last_word'].append(word)

In [ ]:
df = pd.DataFrame(df)
df.to_csv('test.csv', index=False)